/*
 * Wikipedia Redesign Concept Stylesheet
 * Dan Affleck - 2017
 */

@font-face {
    font-family: 'OstrichSansRounded';
    src: url('../fonts/ostrich-sans-rounded.ttf') format('truetype'),
    url('../fonts/ostrich-sans-rounded.eot') format('embedded-opentype'),
    url('../fonts/ostrich-sans-rounded.woff') format('woff');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.ttf') format('truetype');
}

html {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
	position: relative;
    overflow-x: hidden;
}

@media(min-width:767px) {
    .navbar {
        padding: 10px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand > img {
    display: block;
    width: 100px; 
    margin-top: -30%;
}

.navbar-nav {
    margin: 7.5px -15px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }

    .navbar-nav > li {
        float: left;
    }

    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (min-width: 768px) {
    .navbar-left {
        float: left !important;
        width: 98%;
        margin-left: 1%;
    }
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
    color: #777;
}

.navbar-default .navbar-nav > li > a {
    color: #777;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

#content {
    padding-bottom: 350px;
}

.intro_header {
    text-align: center;
    padding: 5% 0 5% 0;
    margin-bottom: 30px
}

.intro_header h4 {
    color: #a1a1a1;
    font-family: verdana;
}

.intro_header a {
    color: #00c5ff;
    font-size: 11pt;
    font-family: verdana
}

.intro_header a:hover {
    text-decoration: none;
    font-weight: bold;
}

.title_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
    padding: 70px 0 70px 0;
    background-color: #4d4d4d;
}

.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: rgba(0,0,0,0);
    border: 1px solid #111;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}

.img-circle {
    border-radius: 50%;
}

section {
    min-height: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 25px;
    text-align: justify;
    background: #fff;    
    font-size: 12pt;
    /*border-bottom: solid 1px;
    border-color: #ccc;*/
}

section .container {
    font-family: verdana;
}

section:nth-child(odd) {
    background: #eee;
}

.subject_title {
    max-width: 25%;
    flex-grow: 2;
    align-self: center;
    text-align: center;
    color: whitesmoke;
    font-family: 'Lato-Light', Arial;
}

.subject_title img {
    width: 350px;
    height: 350px;
}

.subject_title h1 {
    font-size: 44pt;
}

.subject_title h2 {
    color: #aaa;
    font-size: 19pt;
}

.subject_title h3 {
    color: #ccc;
    font-size: 18pt;
    font-style: italic;
}

.section_title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 40pt;
}

.section_img_div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.section_img_div img {
    max-height: 300px;
    border: solid 1px lightgray;
    box-shadow: 5px 5px 2px #888888;
    text-align: center;
    margin-bottom: 10px;
}

.section_img_div figure {
    display: table;
    //text-align: center;
    font-family: verdana;
    font-size: 11pt;
    color: gray;
    margin-bottom: 50px;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: left;
}

.info_icon {
    position: fixed;
    top: 0;
    right: 0;
    margin: 80px 15px 0 0;
}

.info_icon img {
    width: 25px;
    border-radius: 50%;
    transition: 0.3s;
    z-index: 2;
}

.info_icon img:hover {
    box-shadow: 0 0 5px black;
}

.side_div {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: rgba(1,1,1,.8);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side_div a {
    text-decoration: none;
    color: lightgrey;
    transition: 0.3s
}

.side_div a:hover, .offcanvas a:focus{
    color: darkgrey;
}

.side_div .closebtn {
    position: absolute;
    top: 65px;
    right: 17px;
    font-size: 36px;
    margin-left: 50px;
}

#footer {
    width: 100%;
    min-height: 50px;
    height: auto;
    color: #9d9d9d;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 20px;
    padding-bottom: 30px;
}

#footer .container {
}

#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footer ul li {
    //padding-top: 0.5em;
    //padding-bottom: 0.5em;
    font-size: 1em;
}

#footer a {
    //padding-top: 0.5em;
    padding-right: 10px;
    //padding-bottom: 0.5em;
}

hr {
    //width: 100%;
}


@media screen and (max-width: 480px) {

    .intro_header h4 {
        font-size: 11pt;
    }

    .intro_header a {
        font-size: 10pt;
    }

    .title_div {
        flex-direction: column;
        margin-bottom: 60px;
        padding: 20px 0 40px 0;
    }

    .subject_title {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .subject_title h1 {
        font-size: 32pt;
    }

    .subject_title h2 {
        font-size: 14pt;
    }

    .subject_title h3 {
        color: #ccc;
        font-size: 13pt;
        font-style: italic;
    }

    .subject_title img {
        width: 250px;
        height: 250px;
    }

    p {
        font-size: 8pt;
    }

    .section_img_div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .section_img_div figure {
        //margin-bottom: 50px;
    }
}
